[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
requests = "*"
pandas = "*"
parquet = "*"
pyarrow = "*"
nbformat = "*"
beautifulsoup4 = "*"
matplotlib = "*"

[dev-packages]
ipykernel = "*"
